<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.shoumhome.android.ustadz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/intro3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditIdentityActivity"></activity>
        <activity
            android:name=".EditPasswordActivity"
            android:label="@string/change_password"
            android:theme="@style/ChangePasswordDialog" />
        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".MosqueChooserActivity"
            android:theme="@style/MosqueChooserDialog" />
        <activity android:name=".AddUpdateKajianActivity" />
        <activity android:name=".AddUpdateArticleActivity" />
        <activity android:name=".ShowKajianActivity" />
        <activity android:name=".ReadArticleActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".IntroActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>